
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form id="form" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" id="button" value="LogIn">
</form>
<p class="p-er">@Model</p>
<a>@Html.ActionLink("I want to create an account", "SignUp", "User")</a>


