@model IEnumerable<NewsBlogDAL.Models.Feedback>

@{
    ViewBag.Title = "Guest";
}

<form id="guest-form" method="post" onsubmit="return FeedbackCheck(this)">
    <h4>If you want to leave a feedback you should fill the form:</h4>
    <input type="text" placeholder="You name" name="authorName">
    <textarea placeholder="Responce text" name="reviewText"></textarea>
    <input type="submit" id="button" value="SUBMIT">
</form>
<hr />
@foreach (var feedback in Model.Reverse())
{
    <p class="author">@feedback.Date.ToShortDateString() - @feedback.AuthorName</p>
    <p class="feedback-text">@feedback.ReviewText</p>
}


